@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kodchasan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poiret+One&display=swap");
.titles, .main-content section h2, .main-content section h4, .main-content section h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Kodchasan", sans-serif; }

.flex, .main-content section, .main-content-arte, .main-musica, .main-contacto {
  display: flex;
  flex-direction: column;
  align-items: center; }

@keyframes sueño {
  0% {
    transform: scale(1);
    color: black; }
  25% {
    transform: scale(1.2);
    color: #656363; }
  50% {
    transform: scale(1.3);
    color: #fffdfd; }
  75% {
    transform: scale(1.2);
    color: #656363; }
  100% {
    transform: scale(1);
    color: black; } }

* {
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  background-image: url(../multimedia/libros.jpg);
  box-shadow: 0px 5px 13px 0px; }
  .header .menu-navegacion {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    opacity: 0.4;
    height: 270px; }
    .header .menu-navegacion .navizq,
    .header .menu-navegacion .navder {
      display: flex;
      align-items: flex-end; }
      .header .menu-navegacion .navizq ul,
      .header .menu-navegacion .navder ul {
        display: flex;
        align-items: flex-end;
        margin: 0;
        padding: 0; }
        .header .menu-navegacion .navizq ul li,
        .header .menu-navegacion .navder ul li {
          list-style-type: none;
          padding: 10px 20px;
          font-size: 23px; }
          .header .menu-navegacion .navizq ul li:after,
          .header .menu-navegacion .navder ul li:after {
            content: "";
            display: block;
            margin: auto;
            height: 2px;
            width: 0px;
            transition: all .8s; }
          .header .menu-navegacion .navizq ul li:hover:after,
          .header .menu-navegacion .navder ul li:hover:after {
            background-image: url(../multimedia/white-waves.jpg);
            width: 100%; }
          .header .menu-navegacion .navizq ul li a,
          .header .menu-navegacion .navder ul li a {
            font-family: "Montserrat", sans-serif;
            text-decoration: none;
            color: white; }

h1 {
  margin-top: 13px;
  margin-bottom: 11px;
  font-family: "Kodchasan", sans-serif;
  text-align: center; }

@media (max-width: 839px) {
  .header .menu-navegacion .navizq ul li a,
  .header .menu-navegacion .navder ul li a {
    padding: 10px; } }

@media (max-width: 630px) {
  .header .menu-navegacion {
    height: 80px;
    flex-direction: column;
    align-items: center; } }

.footer {
  margin-top: 10px;
  background-color: black;
  opacity: 0.6;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px; }
  .footer .p-footer {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin: 0;
    top: -50%; }
    .footer .p-footer a {
      color: white;
      text-decoration: none;
      transition: all 0.2s ease-in-out; }
      .footer .p-footer a:hover {
        text-decoration: underline; }

@media (max-width: 639px) {
  .footer {
    opacity: 0.8; } }

body {
  background-image: url(../multimedia/white-waves.jpg); }

.main-content {
  display: flex;
  margin-top: 15px;
  margin-bottom: 50px;
  width: 100%;
  height: 300px; }
  .main-content section {
    justify-content: center;
    margin: 30px 20px;
    width: 40%;
    height: 40vh;
    color: black;
    border-radius: 20px;
    box-shadow: 0 1px 3px 3px rgba(206, 209, 224, 0.25);
    transition: box-shadow 0.3s ease; }
    .main-content section p {
      margin-top: 5px;
      color: black;
      padding: 10px;
      font-size: 13px;
      font-family: "Montserrat", sans-serif;
      text-indent: 5px; }
    .main-content section h3 {
      animation-name: sueño;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out; }
    .main-content section:hover {
      box-shadow: 0 10px 40px 20px rgba(206, 209, 224, 0.4); }

@media (max-width: 1479px) {
  .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .main-content section p {
      font-size: 16px; } }

@media (max-width: 1300px) {
  .main-content section p {
    font-size: 13px; } }

@media (max-width: 839px) {
  .main-content {
    flex-wrap: wrap;
    justify-content: center; }
    .main-content section {
      width: 100vw;
      height: 50vh; }
      .main-content section p {
        font-size: 20px; } }

@media (max-width: 630px) {
  .main-content {
    margin-bottom: 50px; }
    .main-content section {
      margin-top: 50px; }
      .main-content section p {
        height: 80vh;
        font-size: 16px; }
      .main-content section a {
        margin-bottom: 50px; } }

.main-content-arte {
  margin-top: 15px;
  margin-bottom: 50px;
  width: 100%;
  height: 300px;
  height: 100vh; }
  .main-content-arte .arte {
    height: 70vh; }

@media (max-width: 1039px) {
  .main-content-arte h1 {
    font-family: "Kodchasan", sans-serif;
    font-size: 18px; }
  .main-content-arte a .arte {
    height: 500px;
    max-width: 80vw; } }

@media (max-width: 913px) {
  .main-content-arte .arte {
    height: 300px; } }

@media (max-width: 750px) {
  .main-content-arte .titulo {
    font-size: 13px; }
  .main-content-arte a .arte {
    height: 250px; } }

.main-musica {
  margin: 20px;
  margin-bottom: 50px; }
  .main-musica iframe {
    width: 80%;
    height: 400px; }
  .main-musica .pmusica {
    color: black;
    padding: 10px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-indent: 5px;
    text-align: center;
    margin-top: 20px; }

@media (max-width: 627px) {
  .main-musica .pmusica {
    margin-top: 39px; }
  .main-musica iframe {
    height: 400px; } }

@media (max-width: 439px) {
  .main-musica .pmusica {
    margin-top: 23px; } }

.main-qs {
  display: flex;
  margin-bottom: 50px; }
  .main-qs .col {
    margin-top: 57px; }
    .main-qs .col .descripcion {
      color: black;
      padding: 10px;
      font-size: 22px;
      font-family: "Montserrat", sans-serif;
      text-indent: 5px;
      margin-top: 60px;
      text-align: center; }
    .main-qs .col .imgqs {
      height: 350px; }
    .main-qs .col .t-realismo {
      margin-top: 15px;
      font-family: "Kodchasan", sans-serif;
      font-size: 25px; }
    .main-qs .col .p-realismo {
      margin-top: 15px;
      color: black;
      font-family: "Montserrat", sans-serif;
      font-size: 22px; }

@media (max-width: 1010px) {
  .main-qs {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .main-qs .col {
      margin-top: 20px;
      max-width: 90%; }
      .main-qs .col .descripcion {
        margin-top: 10px;
        max-width: 90%; } }

.main-contacto {
  margin-bottom: 50px; }
  .main-contacto .p-contacto {
    font-family: "Montserrat", sans-serif;
    width: 40%;
    margin-top: 39px; }
  .main-contacto form {
    margin-top: 20px;
    width: 60%;
    text-align: center; }
    .main-contacto form .mb-3 .form-control {
      text-align: center; }
      .main-contacto form .mb-3 .form-control:focus {
        transform: scale(1.05); }

.link {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin: 10px 5px 0px 0px;
  text-align: center; }
  .link:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s; }
  .link:hover:after {
    width: 39%;
    background: #2f2f2f; }
