@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poiret+One&display=swap');
/* reseteo */
* {
    margin: 0;
    padding: 0;
}
/* imagen de fondo para la pagina */
body {
    background-image: url(../IMG/white-waves.webp);
}

/* imagen de cabecera */
.header {
    display: flex;
    background-image: url(../IMG/libros.jpg);
    height: 270px;
}

/* estilos para el menu de navegacion dividido en izquierda y derecha, con sus hovers */
.menu-navegacion {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    opacity: 0.5;
}

.navizq ul {
    display: flex;
}

.navder ul {
    display: flex;
}

li {
    list-style-type: none;
    padding: 10px 20px;
}

li:hover{
    background-image: url(../IMG/white-waves.webp);
    color: black;
}

li a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
}

li a:hover{
    color: black;
}

/* estilo para el contenido del index, sus secciones con hovers, y estilos para los parrafos y titulos */
.main-content {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 300px;
}

.main-content section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
    width: 33%;
    color: black;
    border-radius: 20px;
    box-shadow: 0 1px 3px 3px rgba(206, 209, 224, .25);
    transition: box-shadow 0.3s ease;
}

.main-content section:hover {
    box-shadow: 0 10px 40px 20px rgba(206, 209, 224, .4);
}

h1,
h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Kodchasan', sans-serif;
}

.main-content section p {
    margin-top: 5px;
    color: black;
    padding: 10px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-indent: 5px;
}

.main-content section a {
    width: 100%;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 10px 5px 0px 0px;
    text-align: center;
}

.main-content section a:hover{
    font-style: italic;
}

/* estilo de footter y su parrafo */
.footer {
    margin-top: 10px;
    background-color: black;
    opacity: 0.6;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    text-align: center;
    padding-top: 5px;
    margin-bottom: 0;
}

/* estilo para el contenido principal de la seccion de arte */
.main-content-arte {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 300px;
    flex-direction: column;
    align-items: center;
}

.arte {
    height: 70vh;
}


/* estilos para la seccion de musica */

.main-musica {
 display: flex;
 width: 100%;
 align-items: center;
}

.pmusica{
    color: black;
    padding: 10px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-indent: 5px;
    text-align: center;
    width: 40%;
}


/* media queries para el index.html y arte.html */

@media (max-width: 1479px) {
    .main-content section p {
        font-size: 16px;
    }
}

@media (max-width: 1300px) {
    .main-content section p {
        font-size: 13px;
    }
}

@media (max-width: 1039px){
    h1{
        font-size: 18px;
    }
    .main-content-arte .arte{
        height: 500px;
        overflow: hidden;
    }
} 

@media (max-width: 913px){

    .main-content-arte .arte{
        height: 400px;
    }
}

@media (max-width: 839px) {
    li a {
        padding: 10px;
    }

    .main-content {
        flex-wrap: wrap;
        justify-content: center
    }

    .main-content section {
        width: 100vw;
        height: 50vh;
    }

    .main-content section p {
        font-size: 20px;
    }
}

@media (max-width: 732px){

    .main-content-arte .titulo{
        font-size: 13px;
    }
    .main-content-arte .arte{
        height: 300px;
        overflow: hidden;
    }

}


@media (max-width: 630px) {
    .menu-navegacion {
        height: 80px;
        flex-direction: column;
        align-items: center;
    }

    .main-content {
        margin-bottom: 50px;
    }

    .main-content section {
        margin-top: 50px;
    }

    .main-content section p {
        height: 80vh;
        font-size: 16px;
    }

    .main-content section a {
        margin-bottom: 50px;
    }
}

@media (max-width: 630px){
    .main-content-arte .arte{
        height: 270px;
        overflow: hidden;
    }
}

@media (max-width: 500px){
    .main-content-arte .arte{
        height: 230px;
        overflow:auto;
    }
}