.main-content-arte {
    @extend .flex;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 300px;
    height: 100vh;

    .arte {
        height: 70vh;
    }
}


@media (max-width: 1039px) {
    .main-content-arte {
        h1 {
            font-family: $fuente-titulo;
            font-size: 18px;
        }

        a {
            .arte {
                height: 500px;
                max-width: 80vw;
            }
        }
    }
}

@media (max-width: 913px) {

    .main-content-arte {
        .arte {
            height: 300px;
        }
    }
}

@media (max-width: 750px) {

    .main-content-arte {
        .titulo {
            font-size: 13px;
        }

        a {
            .arte {
                height: 250px;
            }
        }
    }
}