.main-qs {
    display: flex;
    .col {
        margin-top: 100px;
        .descripcion {
            color: $color-primary;
            padding: 10px;
            font-size: 22px;
            font-family: $fuente-parrafo;
            text-indent: 5px;
            margin-top: 60px;
            text-align: center;
        }
        .imgqs {
            height: 350px;
        }
    }
}

@media (max-width: 913px) {
    .main-qs {
        flex-wrap: wrap;
        justify-content: center;

        .col {
        margin-top: 20px;
            .descripcion {
                margin-top: 10px;
            }
        }
    }
}