.main-qs{
    display: flex;
    .col {
        .descripcion{
            color: black;
            padding: 10px;
            font-size: 22px;
            font-family: 'Montserrat', sans-serif;
            text-indent: 5px;
            margin-top: 60px;
            text-align: center;
        }
        .imgqs {
            height: 350px;
        }
    }
}

@media (max-width: 913px){
    .main-qs{
        flex-wrap: wrap;
        justify-content: center;
        .col{
            .descripcion{
                margin-top: 10px;
            }
        }
    }
}