.main-musica {
    @extend .flex;
    margin: 20px;

    iframe {
        width: 80%;
        height: 400px;
    }

    .pmusica {
        color: $color-primary;
        padding: 10px;
        font-size: 18px;
        font-family: $fuente-parrafo;
        text-indent: 5px;
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 627px) {
    .main-musica {
        .pmusica {
            margin-top: 39px;
        }

        iframe {
            height: 400px;
        }
    }
}

@media (max-width: 439px) {
    .main-musica {
        .pmusica {
            margin-top: 23px;
        }
    }
}