.main-musica {
    display: flex;
    width: 100%;
    align-items: center;
   }
   
   .pmusica{
       color: black;
       padding: 10px;
       font-size: 18px;
       font-family: 'Montserrat', sans-serif;
       text-indent: 5px;
       text-align: center;
       width: 40%;
   }
   