.main-contacto{
    @extend .flex;
    .p-contacto {
        font-family: $fuente-parrafo;
        width: 40%;
        margin-top: 69px;
    }
    form {
        margin-top: 40px;
        width: 60%;
        text-align: center;
        .mb-3{
            .form-control{
                text-align: center;
                &:focus{
                       transform: scale(1.05);
                }
            }
        }
    }
}

