.main-contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form{
    margin-top: 40px;
    width: 60%;
    text-align: center;
}

.p-contacto{
    width: 40%;
    margin-top: 69px;
}

