.main-contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .p-contacto{
        width: 40%;
        margin-top: 69px;
    }
    form{
        margin-top: 40px;
        width: 60%;
        text-align: center;
    }
}

